.controllersidebar {
    background-color: #444343;
    /* background-color: rgb(110, 108, 108); */
    color: azure;
}

/* .icon-btn :hover {
    background-color: azure;
    color: #444343;

} */
.maincontainer {
    background-color: #e4dede;
}

@media (min-width: 689px) {
    .maincontainer {
        padding: 0px 100px 0px 30px;
        background-color: #e4dede;
    }
}

.tshirtcontainer {
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;
}

/* .drawing-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */